<nav>
    <div class="nav-wrapper red darken-4">
        <a href="/" class="brand-logo center">Scraper News </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="/clearall">Clear Articles</a></li>
        </ul>
    </div>
</nav>